body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #650D89;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 15px;
  background-color: #650D89;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cerrar {
  width: 35px;
  height: 35px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
}

.card h2 {
  color: #650D89;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.monto {
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.simbolo {
  font-size: 28px;
}

#monto {
  font-size: 48px;
}

.nombre {
  font-size: 24px;
  font-weight: bold;
}

.datos {
  font-size: 14px;
  color: gray;
}

.share {
  color: #00bfa5;
  font-weight: bold;
  cursor: pointer;
}

.seguridad-box {
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.codigo {
  display: flex;
  gap: 5px;
}

.caja {
  width: 30px;
  height: 30px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-img {
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
}
